.ui-carousel {
  height: 220px;
}

.ui-carousel__slide__inner {
  position: relative;
  height: 220px;
}

.ui-carousel__slide__inner::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: -3px;
  bottom: -3px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background-color: #fff;
  opacity: 0.65;
  z-index: -1;
}

.ui-carousel__slide__inner:hover {
  background-color: rgba(211, 112, 204, 0.429);

  transition: 0.3s;
  /* opacity: 0.5; */
}

.SlideContainer {
  width: 1000px;
  margin: 0 auto 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.Carousel {
  width: 100%;
}

.DateContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MonthDay {
  font-size: 65px;
  color: white;
  text-align: center;
}

.Week {
  font-size: 35px;
  color: white;
  text-align: center;
}
