body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid black; */
  padding: 1px;
}

th {
  border: 1px dashed lightgray;
  border-bottom: 1px solid black;
  padding: 4px;
  background: lavender;
}

td {
  border: 1px dashed lightgray;
  padding: 4px;
}
.DispNumContainer {
  margin: 0 auto;
  /* width: 1000px; */

  /* background-color: #ddd; */
}
/* .SearchContainer {} */
.SearchContainer input {
  width: 300px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

/* ---ì˙ïtçiÇËçûÇ›--- */
.NarrowContainer {
  display: flex;
  align-items: center;

  /* background-color: pink; */
}
.NarrowContainer input {
  padding: 5px 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
}
