/* src/components/Header.css */
.header {
  background: linear-gradient(to bottom right, #a6038b, #093f59);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo1 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-left: 1.5rem;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffca28;
}

/* footer */

.nav li {
  margin-left: 1.5rem;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
  color: #fff;
  background: linear-gradient(to bottom right, #a6038b, #093f59);
}

.footer .logo2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #111;
}

.footer .logo2 a {
  display: inline-block;
}

.footer .logo2 img {
  width: 120px;
}

#footer .nav a {
  display: block;
  padding: 0 10px;
  color: #ccc;
}

@media only screen and (min-width: 641px) {
  .footer .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
  }
  #footer .nav a:hover {
    color: #ca353b;
  }
}
